client_secret_557065058107-cfhd9is77v1j85qklpo88nclo13p0r94.apps.googleusercontent.com.json
full_playlist.json
spotify_tracks_info.json
user_credentials.json
video_info.json
yt playlist.txt
ytPlaylistTestCopy.txt
.cache
auth.py
playlist
